# Default .gitignore for Ruby
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
/Gemfile.lock
/Gemfile.local

# YARD artifacts
.yardoc
_yardoc
doc/

# Vim
*.swp

# Eclipse
.project

# Visual Studio Code
.vscode/

# OS X
.DS_Store

# Puppet
spec/fixtures/manifests/*
spec/fixtures/modules/*

# Vagrant
.vagrant/*

# Sensu
junit/
log/
*.log
vendor/
sensu.komodoproject
doc/**

# direnv & rbenv
/.envrc
/.ruby-version

# secrets
tests/sensu_license.json
tests/secrets
tests/secrets.tar
