<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version="1.0">
  <dict>
    <key>Label</key><string>org.sensuapp.sensu-client</string>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/sensu/bin/sensu-client</string>
      <string>-c/etc/sensu/config.json</string>
      <string>-d/etc/sensu/conf.d</string>
      <string>-l/var/log/sensu/sensu-client.log</string>
    </array>
    <key>UserName</key><string>_sensu</string>
    <key>GroupName</key><string>_sensu</string>
    <key>RunAtLoad</key><true/>
    <key>KeepAlive</key><true/>
    <key>StandardOutPath</key><string>/var/log/sensu/sensu-client.log</string>
    <key>StandardErrorPath</key><string>/var/log/sensu/sensu-client.log</string>
  </dict>
</plist>
