name: Acceptance

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  acceptance:
    runs-on: ubuntu-latest
    # Items marked as ci_build=yes are allowed to fail
    continue-on-error: ${{ matrix.ci_build == 'yes' }}
    strategy:
      fail-fast: false
      matrix:
        set:
        - centos-7
        - rocky-8
        - debian-10
        - ubuntu-1804
        - ubuntu-2004
        - amazonlinux-2
        - amazonlinux-201803
        puppet:
        - puppet6
        - puppet7
        ci_build:
        - no
        exclude:
        - puppet: puppet7
          ci_build: yes
    env:
      BEAKER_debug: true
    name: ${{ matrix.set }} ${{ matrix.puppet }} (ci=${{ matrix.ci_build }})
    steps:
    - uses: actions/checkout@v2
    - name: Setup ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7'
        bundler-cache: true
        bundler: '2.1.0'
    - name: Decrypt secrets
      env:
        SENSU_SECRETS_PASSWORD: ${{ secrets.SENSU_SECRETS_PASSWORD }}
      if: ${{ env.SENSU_SECRETS_PASSWORD != null }}
      run: ./tests/decrypt-secrets.sh
    - name: Run tests
      run: bundle exec rake acceptance
      env:
        BEAKER_PUPPET_COLLECTION: ${{ matrix.puppet }}
        BEAKER_set: ${{ matrix.set }}
        BEAKER_sensu_ci_build: ${{ matrix.ci_build }}
